<header class="header">
  <div class="header-container">
    <a href="/index.html" class="logo" id="logo-link">
      <img src="/assets/home-baner.png" alt="Logo" />Residência em TI
    </a>

    <button class="menu-toggle" aria-label="Abrir menu" id="menuToggle">
      <span class="hamburger"></span>
    </button>

    <nav class="nav" id="mainNav">
      <ul class="nav-list">
        <li><a href="/index.html#top">Início</a></li>
        <li><a href="/index.html#sobre-nos">Sobre</a></li>
        <li><a href="/index.html#softwares">Serviços</a></li>
        <li><a href="/index.html#projetos">Projetos</a></li>
        <li><a href="/equipe.html">Equipe</a></li>
      </ul>
    </nav>
  </div>
</header>